[Unit]
Description=MyOctopus hostsoft service

[Service]
ExecStart=/usr/bin/python /usr/share/myoctopus/run.py
WorkingDirectory=/usr/share/myoctopus
Restart=on-failure
User=myoctopus

[Install]
WantedBy=default.target